@import url('./components/navigation.css');
@import url('./components/typography.css');
@import url('./components/card_navigation.css');
@import url('./components/pre_iframe_and_img.css');
@import url('./components/expand_list.css');

:root {
    --first-col: rgb(0, 0, 0);
    --second-col:#202020;
    --third-col: rgba(255, 208, 0, 0.295);
    --fourth-col: rgb(217, 255, 0);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--first-col);
    font-family: "Courier New", monospace;
    color: var(--fourth-col);
    display: flex;
    flex-direction: column;
}

/* main-content */
main {    
    width: 100vw;
    height: max-content;
    margin-top: 65px;
    padding: 20px 40px;
    display: flex;
    flex-flow: column;
    place-content: start;
    align-items: center;
    gap: 10vh;
}
main a {
    position: relative;
    color: rgb(30, 30, 248);
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgba(173, 216, 230, 0.5);
    font-weight: 900;
    font-size: 18px;
    box-sizing: border-box;
}
main a:hover {
    color: white;
    background-color: blue;
}

/* article > module */
main > article > ol > li {
    background: rgb(27, 27, 27);
    padding: 20px;
    border-radius: 20px;
    border-bottom: 3px solid var(--fourth-col);
    box-shadow: 0px 0px 2px 1px var(--third-col);
}
main > article > ol > li:hover {
    background: rgb(41, 41, 41);
    box-shadow: 0px 0px 4px 2px var(--third-col);
}
main > article > ol > li > h2,
main > article > ol > li > h3 {
    margin:10px 0px 15px ;
    border-bottom: 1px solid var(--fourth-col);
    width: fit-content;
    padding: 2px 7px 3px;
    border-radius: 5px;
    background-image: linear-gradient(to top, var(--third-col), rgba(0, 0, 0, 0));
}